<!--
  Generated template for the ReflistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>List</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="addItem()">
          <ion-icon name="add"></ion-icon>
          Add Item
      </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      {{ item.titulopub }}
    </button> 
  </ion-list>
</ion-content>
