<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" [(ngModel)]="objUserApp.email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" [(ngModel)]="objUserApp.password"></ion-input>
    </ion-item>

    <button ion-button color="secondary" (click)="login()">Login</button>
    <button ion-button (click)="goToRegister()">Register</button>
  
  </ion-list>
</ion-content>
