<!--
  Generated template for the ShowrefPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Tittle: {{reference.titulopub}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5>Authors: {{reference.autores}}</h5>
  <h5>Type: {{reference.tipopub}}</h5>
  <h5>Source: {{reference.eventorevista}}</h5>
  <h5>DOI: {{reference.doi}}</h5>
  <h5>Year: {{reference.anyopub}}</h5>
  <button ion-button (click)="presentActionSheet()">Action sheet</button>
</ion-content>
